<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
</head>
<body>
   <% const headerMenuItems = [
   {title: 'Haircare', link: '#'},
   {title: 'Color', link: '#'},
   {title: 'Styling', link: '#'},
   {title: 'Texture', link: '#'},
   {title: 'Get Inspired', link: '#'},
   {title: 'Social', link: '#'},
   {title: 'News', link: '#'},
   {title: 'About', link: '#'},
   {title: 'Professional', link: '#'},
   /* ... */
   ]; %>
   <% const menuItems = [
   {title: 'privacy policy', link: '#'},
   {title: 'terms of use', link: '#'},
   {title: 'contact us', link: '#'},
   {title: 'newsletter', link: '#'},
   {title: 'sitemap', link: '#'}
   /* ... */
   ]; %>
   <% const navItems = [
   {title: 'HOME', link: '#'},
   {title: 'VIDEOS', link: '#'},
   /* ... */
   ]; %>
   <% const blocks = [
   {title: 'step by step', videos: [{link: "https://youtu.be/z8M0Fa1JVco", img: "https://img.youtube.com/vi/z8M0Fa1JVco/mqdefault.jpg"}, {link: "https://youtu.be/Wi2KcdoCuo4", img: "https://img.youtube.com/vi/Wi2KcdoCuo4/mqdefault.jpg"}, {link: "https://youtu.be/8H6dYUgQKB8", img: "https://img.youtube.com/vi/8H6dYUgQKB8/mqdefault.jpg"}, {link: "https://youtu.be/PZjGrmHdFME", img: "https://img.youtube.com/vi/PZjGrmHdFME/mqdefault.jpg"}]},
   {title: 'CRAFT EDUCATION', videos: [{link: "https://youtu.be/RmNWNLXmswk", img: "https://img.youtube.com/vi/RmNWNLXmswk/mqdefault.jpg"}, {link: "https://youtu.be/-tztXOz8Vc0", img: "https://img.youtube.com/vi/-tztXOz8Vc0/mqdefault.jpg"}, {link: "https://youtu.be/kUfIVtyydgQ", img: "https://img.youtube.com/vi/kUfIVtyydgQ/mqdefault.jpg"},{link: "https://youtu.be/RmNWNLXmswk", img: "https://img.youtube.com/vi/RmNWNLXmswk/mqdefault.jpg"}, {link: "https://youtu.be/-tztXOz8Vc0", img: "https://img.youtube.com/vi/-tztXOz8Vc0/mqdefault.jpg"}, {link: "https://youtu.be/kUfIVtyydgQ", img: "https://img.youtube.com/vi/kUfIVtyydgQ/mqdefault.jpg"}]},
   {title: 'INSPIRATION', videos: [{link: "https://youtu.be/VmmwwzR536g", img: "https://img.youtube.com/vi/VmmwwzR536g/mqdefault.jpg"}, {link: "https://youtu.be/vz0k8O-Ef9Y", img: "https://img.youtube.com/vi/vz0k8O-Ef9Y/mqdefault.jpg"}, {link: "https://youtu.be/6oPBFnsqJW8", img: "https://img.youtube.com/vi/6oPBFnsqJW8/mqdefault.jpg"}, {link: "https://youtu.be/VmmwwzR536g", img: "https://img.youtube.com/vi/VmmwwzR536g/mqdefault.jpg"}, {link: "https://youtu.be/vz0k8O-Ef9Y", img: "https://img.youtube.com/vi/vz0k8O-Ef9Y/mqdefault.jpg"}, {link: "https://youtu.be/6oPBFnsqJW8", img: "https://img.youtube.com/vi/6oPBFnsqJW8/mqdefault.jpg"}]},
   /* ... */
   ]; %>
   <% const social = [
   {class: 'social__facebook', link: '#'},
   {class: 'social__twitter', link: '#'},
   {class: 'social__pinterest', link: '#'},
   {class: 'social__youtube', link: '#'},
   {class: 'social__instagram', link: '#'},
   /* ... */
   ]; %>
   <header class="header">
    <div class="header__top">
        <div class="header-left-block header-left-block_top">
            <button class="header-left-block__button-down"><span>nearest salon</span><span class="header-left-block__arrow"></span></button>
            <div class="header-left-block__label">Plush Salon 92101</div>
        </div>
        <ul class="mobile-menu"  id="openMenu">
            <% for(var i=0; i < 3; i++) { %>
            <li class="mobile-menu__item"></li>
            <% } %>
        </ul>
        <div class="header__logo"></div>
        <div class="search search_top">
            <button class="search__button"></button>
        </div>
    </div>
    <div class="header__middle">
        <nav class="main-navigation">
            <% headerMenuItems.forEach((item) => { %>
            <a class="navigation-link" href="<%= item.link %>"><%= item.title %></a>
            <% }) %>
        </nav>
    </div>
    <div id="search" class="header__bottom">
        <div class="header-left-block header-left-block_bottom">
            <button class="header-left-block__button-down">
                <span>nearest salon</span><span class="header-left-block__arrow"></span>
            </button>
            <div class="header-left-block__label">Plush Salon 92101</div>
        </div>
        <div class="search search_bottom">
          <form class="search-form screen_none" id="search-form"><input type="search" placeholder="Введите текст" class="search-form__enter enter"><input type="submit" class="search-form__search"><button class="search-form__close" type="button" onclick="closeSearch()"></button>
          </form>
            <button class="search__button"></button>
        </div>
    </div>
</header>
<div class="mobile-list mobile-list_hiden" id="headerMobileMenu">
    <div class="mobile-list__close-wrapper">
        <button class="mobile-list__close" id="closeMenu"></button>
    </div>
    <ul class="mobile-list__wrapper">
       <% menuItems.forEach((item) => { %>
       <li class="mobile-list__item"><a class="list-link" href="<%= item.link %>"><%= item.title %></a></li>
       <% }) %>
   </ul>
</div>
<div class="content">
    <div class="path">
        <% for(let i = 0; i < navItems.length; i++) { %>
        <div class="path-item">
            <a class="path-item__link" href="<%= navItems[i].link; %>"><%= navItems[i].title %></a>
        </div>
        <% if(i != navItems.length - 1) {%>
        <span  class="path__separator">/</span>
        <%}%> 
        <% } %>
    </div>
    <div class="main-block">
        <h3 class="block-title main-title">videos</h3>
        <a class="main-video-block" href="https://youtu.be/VmmwwzR536g"><img class="main-video-block__image" src="https://img.youtube.com/vi/VmmwwzR536g/mqdefault.jpg" alt=''></a>
        <div class="main-block__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lobortis, nisl at ullamcorper egestas, felisadi piscing dolor, a interdum lorem urna quis magna.</div>
    </div>
    <% blocks.forEach((item) => { %>
    <div class="playlist">
        <h3 class="block-title video-title">
            <% let arr = item.title.split(" "); %>
            <% for(let i = 0; i < arr.length; i ++) { %>
            <% if(i%2 == 0) { %>
            <span class="block-title_black"><%= arr[i] %></span>
            <% } %>
            <% if(i%2 == 1) { %>
            <span class="block-title_red"><%= arr[i] %></span>
            <% } %>
            <% } %>
        </h3>
        <div class="video-wrapper">
            <% item.videos.forEach((elem) => { %>
            <a class="video-block" href="<%= elem.link %>"><img class="video-block__image" src="<%= elem.img %>" alt=''></a>
            <% }) %> 
        </div>
        <button class="playlist__button">load more</button>
    </div>   
    <% }) %>
</div>
<footer class="footer">
    <ul class="social">
        <% social.forEach((item) => { %>
        <li class="social__item"><a class="social__link <%= item.class %>" href="<%= item.link; %>"></a></li>
        <% }) %>
    </ul>
    <div class="location-wrapper">
        <div class="location-block">
            <div class="location-block__text">location:</div>
            <div class="location-block__text">united states</div>
        </div>
        <div class="location-block">
            <div class="location-block__text">language:</div>
            <div class="location-block__text">english</div>
        </div>
    </div>
<ul class="nav">
    <% menuItems.forEach((item) => { %>
    <li class="nav__item"><a class="nav__link" href="<%= item.link; %>"><%= item.title %></a></li>
    <% }) %>
</ul>
</footer>
<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"></script>
<script src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<script src="js/scripts.js"></script>
</body>
</html>
